.container {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) * 2);
}

.executive-summary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--gap) * 2);
}
