<div class="container">
    <div class="executive-summary">
        @for (data of labelData; track $index) {
            <app-label-card
                [label]="data.label"
                [value]="data.value"
                [type]="data.type"
            />
        }
    </div>

    <div class="category-inbound">
        @for (data of progressData; track $index) {
            <app-progress-card
                [label]="data.label"
                [labelValue]="data.labelValue"
            />
        }
    </div>

    <app-table>
        <div class="table">
            <div class="table-header">
                <div class="table-header-title">SOURCE</div>
                <div class="table-header-title">GRIEVANCE ID</div>
                <div class="table-header-title">CONFIDENCE %</div>
                <div class="table-header-title">AUTO-CATEGORY</div>
                <div class="table-header-title">STATUS</div>
                <div class="table-header-title">ACTION</div>
            </div>

            <div class="table-data">
                @for (record of classificationData; track record.dataId) {
                    <div class="table-record">
                        <div class="table-record-data">{{ record.source }}</div>
                        <div class="table-record-data">{{ record.grievanceId }}</div>
                        <div class="table-record-data">{{ record.confidence }}</div>

                        <div class="table-record-data primary-badge">
                            {{ record.category }}
                        </div>

                        <div class="table-record-data secondary-badge">
                            {{ record.status }}
                        </div>

                        <button class="table-record-data action-button">
                            {{ record.action }}
                        </button>
                    </div>
                }
            </div>
        </div>
    </app-table>
</div>
