<div class="container">
    <p class="title">Real-time grievance ingestion and AI deduplication engine</p>

    <div class="split-container">
        <app-table>
            <div class="table">
                <div class="table-header">
                    <div class="table-header-title">SOURCE</div>
                    <div class="table-header-title">GRIEVANCE ID</div>
                    <div class="table-header-title">TIMESTAMP</div>
                    <div class="table-header-title">RAW CONTENT</div>
                    <div class="table-header-title">DEDUPLICATION</div>
                    <div class="table-header-title">CATEGORY</div>
                    <div class="table-header-title">ACTION</div>
                </div>

                <div class="table-data">
                    @for (feed of inboundFeeds; track feed.dataId) {
                        <div class="table-record">
                            <div class="table-record-data">{{ feed.source }}</div>
                            <div class="table-record-data">{{ feed.grievanceId }}</div>
                            <div class="table-record-data">{{ feed.timestamp }}</div>
                            <div class="table-record-data">{{ feed.rawContent }}</div>
                            <div class="table-record-data">{{ feed.status }}</div>

                            <div class="table-record-data grey-badge">
                                {{ feed.category }}
                            </div>

                            <button
                                class="table-record-data action-button"
                                (click)="handleFeed(feed.dataId)"
                            >
                                VIEW
                            </button>
                        </div>
                    }
                    <div class="table-recond">
                        <div class="table-record-data"></div>
                    </div>
                </div>
            </div>
        </app-table>

        <div class="ingest-data">
            @if (ingestData) {
                @for (data of ingestData; track $index) {
                    <div class="ingest">
                        <app-progress-card
                            [label]="data.label"
                            [labelValue]="data.labelValue"
                            [description]="data.description"
                        />
                    </div>
                }
            } @else {
                <p class="no-data-info">
                    CLICK TO VIEW INGEST DATA
                </p>
            }
        </div>
    </div>
</div>
