<div class="sidebar">
    <div class="header">
        <img
            class="nagarjan"
            src="/logo/logo-nagarjan.svg"
            alt="NagarJan logo"
        >
    </div>

    <div class="section-frame menu">
        @for(item of menu; track item.label) {
            <button
                class="menu-button"
                [id]="item.label.toLowerCase()"
                (click)="handleClick(item)"
                [routerLink]="item.path"
                routerLinkActive="active"
            >
                {{ item.label }}
            </button>
        }
    </div>
</div>
